body {
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background: #fafafa;
      color: #111;
      line-height: 1.6;
    }
    header {
      background: #111;
      color: #fff;
      text-align: center;
      padding: 20px 10px;
      font-size: 22px;
      font-weight: 700;
      letter-spacing: 0.5px;
    }
    .home-btn {
      display: inline-block;
      margin: 20px auto;
      background: #ff2d55;
      color: #fff;
      padding: 10px 20px;
      border-radius: 8px;
      font-weight: 600;
      font-size: 15px;
      text-decoration: none;
      box-shadow: 0 3px 6px rgba(0,0,0,0.2);
      transition: background 0.3s;
    }
    .home-btn:hover {
      background: #e02249;
    }
    .poster {
      width: 100%;
      max-width: 1000px;
      margin: 0 auto 25px;
      display: block;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    }
    .content {
      max-width: 900px;
      margin: 20px auto 60px;
      padding: 0 20px;
    }
    h1 {
      font-size: 30px;
      margin-bottom: 15px;
      color: #000;
      text-align: center;
      font-weight: 600;
    }
    h2 {
      font-size: 22px;
      margin-top: 35px;
      color: #111;
      border-left: 5px solid #ff2d55;
      padding-left: 10px;
            font-weight: 600;

    }
    p {
      font-size: 16px;
      margin-bottom: 15px;
    }
    ul {
      margin: 10px 0 20px 20px;
    }
    a {
      color: #ff2d55;
      text-decoration: none;
      font-weight: 600;
    }
    a:hover {
      text-decoration: underline;
    }
    .event-info {
      background: #fff;
      border-radius: 12px;
      padding: 20px;
      margin: 20px auto;
      max-width: 900px;
      text-align: strat;
    }
    .event-info strong {
      color: #ff2d55;
    }
    .credit {
      margin-top: 40px;
      text-align: start;
      font-size: 14px;
      color: #555;
    }